h1,
h2 {
  width: 100%;
}

/* h1 {
  animation: left_to_right 3s ease;
} */
sub.tz {
    text-align: left;
    animation: right_to_left 3s ease;
   
  }

h2.greet{
  text-align: right;
  animation: right_to_left 3s ease;
 
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}


.typing {
  font-size: 1.2rem;
  font-family: 'Courier New', monospace;
  color: #333;
  display: inline-block;
  border-right: 2px solid #333;
  padding-right: 5px;
  animation: blink 0.7s infinite step-end;
}
.skills-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  display: none;
}
.skills-table th, .skills-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
.skills-table th {
  background-color: #f1f1f1;
}
.skills-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.skills-table td {
  font-size: 0.9rem;
}
/* Typing animation */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}



